/* src/assets/main.css */

/* 1. Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --verde-principal: #1E4620;
  --dorado-acento: #F7B538;
  --texto-oscuro: #2c3e50;
  --texto-claro: #FFFFFF;
  --gris-borde: #EAEAEA; /* Un gris muy claro para bordes sutiles */
}


body {
  margin: 0;
  background-color: var(--verde-principal); 
  font-family: 'Poppins', sans-serif; 
  color: #333; 
}